.body {
  background: linear-gradient(
    109.6deg,
    rgb(137, 221, 189) 11.2%,
    rgb(169, 221, 219) 50%,
    rgb(248, 232, 186) 100.2%
  );
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.App h1 {
  font-size: 46px;
}

.App footer {
  padding: 30px 0;
}

.App a {
  color: #b92781;
}
