.body {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 50%,
    rgb(255, 233, 171) 100.2%
  );
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.App h1 {
  font-size: 48px;
}

.App footer {
  padding: 30px 0;
}

.App a {
  color: #b92781;
}
